.contenedor__formularios{

    width: 80%;
    margin: 1rem auto;
    min-height: 70vh;
    background: rgb(27, 26, 26);
    border-radius: 7px;


    @media(max-width:980px){
        width: 95%;
    }
}